<!--
SbApp: Open Source software for novelists and authors.
Original idea 2008 - 2012 Martin Mustun
Copyrigth (C) Favdb
-->
<html>
    <head>
        <title>oStorybook</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="'novel writing software', 'writing software', 'story writing', 'how to write book', 'program download', 'novel writing', 'book writing', 'write book', 'writing software', 'story writing software', 'book writing software', 'creative writing software', writing, 'novel writing', 'creative writing', 'write story', 'free download', writer, idea, creative, story, author, bestseller, novel, novelist, plot, help, planning, plotting, brainstorm, storyline, 'write a bestseller', 'how to write a romance novel', 'fiction software', 'how to start writing a novel', 'fiction planning', 'story planning software'" />
        <link rel="stylesheet" href="../css/template.css" type="text/css" />
        <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    </head>

    <body>
        <div id="page_bg">
            <div id="topw">
                <div id="logo" style="width:739px;"><a href="index.html">oStorybook - Open Source Novel Writing Software</a></div>
                <div class="clr"></div>
                <div class="module">
                    <div id="pillmenu">
                        <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" bgcolor="#709700">
                            <tbody><tr>
                                    <td style="text-align: center; vertical-align: center;">
                                        <ul id="mainlevel-nav">
                                            <li><a href="About-oStorybook.hyml" class="mainlevel-nav">A propos de...</a></li>
                                            <li><a href="Features.html" class="mainlevel-nav">Fonctionalitéss</a></li>
                                            <li><a href="Download.html" class="mainlevel-nav">Télécharger</a></li>
                                            <li><a href="Community.html" class="mainlevel-nav">Communauté</a></li></ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#FFFFFF"><div id="jflanguageselection">
                                            <div class="rawimages">
                                                <a href="../en/index.html" target="_top"><img src="../img/flags/flags-united_kingdom.png" alt="English" title="English"></a>
                                                <a href="../en/index.html" target="_top"><img src="../img/flags/flags-united_states.png" alt="English" title="English"></a>
                                                <a href="../fr/index.html" target="_top"><img src="../img/flags/flags-france.png" alt="Français" title="Français"></a>
                                                <a href="../de/index.html" target="_top"><img src="../img/flags/flags-germany.png" alt="German" title="German"></a>
                                                <a href="../it/index_it.html" target="_top"><img src="../img/flags/flags-italy.png" alt="Italiano" title="Italiano"></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>